.nav_wrapper {
  background: #97cba9;
  position: absolute;
  width: 375px;
  bottom: 0px;
  height: auto;
}
.navitem_selected {
  background: #6bbb87;
  border: 1px solid #6bbb87;;
}
.navitem_icon {
  margin-top: 6px;
  width: 50px;
}
.navitem_title {
  margin: 4px;
  font-size: 12px;
  color: white;
}